
/* Green Theme by AdemKouki */

@import url('https://fonts.googleapis.com/css?family=Cairo');

.theme--day .header-bar {
    background-color: #0ba325;
}
.header-avatar, .info , .menu, #share_button{
    display: none;
}

html, .header-channel {
font-family: 'Cairo', sans-serif;

}

.removed {
    display: inherit;
}

html.isIframe {
    background: rgba(116, 237, 136, 0.21)
}

.post blockquote {
    background: #d7f4d1;
}
